* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(240,236,236);
}

.header-div {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 20px 60px;
    letter-spacing: 1px;
    font-weight: 300;
}

header div img {
    width: 240px;
    margin: 20px 60px;
}

nav {
    background-color: rgb(48,132,180);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    font-size: 15px;
    background-color: rgb(48,132,180);
    width: 20vw;
    height: 4vw;
    align-content: center;
    color: white;
    transition: 0.2s;
}

.nav-item:hover{
    background-color: rgb(7, 74, 113)
}


footer {
    background-color: rgb(48,132,180);
    text-align: center;
    padding: 0;
}

footer p {
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.contato {
    background-color: rgb(48,132,180);
    padding: 20px;
}
.copyright {
    background-color: #074a71;
    padding-top: 10px;
    font-size: 14px;
    padding: 10px;
}