* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(240,236,236);
}

.header-div {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    margin: 20px 60px;
    letter-spacing: 1px;
    font-weight: 300;
}

header div img {
    width: 240px;
    margin: 20px 60px;
}

nav {
    background-color: rgb(48,132,180);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-item{
    font-size: 15px;
    background-color: rgb(48,132,180);
    width: 20vw;
    height: 4vw;
    align-content: center;
    color: white;
    transition: 0.2s;
}

.nav-item:hover{
    background-color: rgb(7, 74, 113)
}

main {
    text-align: center;
}

main div {
    margin: 40px auto;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
    width: 70vw;
    border-radius: 10px;
}

main img {
    width: 70vw;
    border-radius: 10px 10px 0px 0px;
}

main div p {
    background-color: white;
    font-size: 14px;
    text-align: justify;
    width: calc(70vw - 64px );
    margin: -4px auto;
    padding: 16px 32px;
    padding-top: 0px;
    letter-spacing: 2px;
    border-radius: 0 0 10px 10px;
}

main div h2 {
    background-color: white;
    color: rgb(48,132,180);
    font-size: 24px;
    width: calc(70vw - 64px );
    margin: -8px auto;
    padding: 16px 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
}

footer {
    background-color: rgb(48,132,180);
    text-align: center;
    padding: 0;
}

footer p {
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.contato {
    background-color: rgb(48,132,180);
    padding: 20px;
}
.copyright {
    background-color: #074a71;
    padding-top: 10px;
    font-size: 14px;
    padding: 10px;
}